.loading {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  height: 300px;
  align-items: center;
  color: var(--text-body);
}
.control {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
}
