.loading {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  height: 300px;
  align-items: center;
  color: var(--text-body);
}

.control {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: end;
  .button {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
  }
}
